[project]
name = "dockerized-fastapi-postgresql-sqlalchemy-alembic-template"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi[standard]>=0.121.3",
]
